
<h3>Invite staff</h3>
<div class="row">
  <div class="col-md-6">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>

<br><br>




<br><br>


<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><strong><%= @business.name %></strong> </h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <h5><strong>Users</strong></h5>
         <p><%= @member.user.email %> <span class="badge bg-primary"> <%= @member.roles.capitalize %></span></p>
        <%= link_to "Edit business", edit_business_path(@business), class: "btn btn-success" %> 
        <%= link_to "Back", businesses_path, class: "btn btn-secondary" %>
        <%= link_to "Delete", @business, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure! #{@business.name} will be deleted"} %>
      </div>
    </div>
  </div>
</div>
