
<% if @business.members.find_by(user_id: current_user.id).try(:is_admin?) %>
  <h3>Invite staff</h3>
  <%= form_with(model: [@business, User.new], url: business_invite_path(@business), class: "row g-2 align-items-center") do |f| %>
    <div class="col-sm-4 mb-2">
      <%= f.email_field :email, class: 'form-control', placeholder: "Email Address" %>
    </div>
    <div class="col-sm-2 mb-2">
      <%= f.select :roles, options_for_select(Member.roles.keys), {}, class: 'form-control' %>
    </div>
    <div class="col-sm-4 mb-2">
      <%= f.submit "Send invitation", class: "btn btn-primary" %>
    </div>
  <% end %>

<% end %>


<br><br>




<br><br>


<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><strong><%= @business.name %></strong> </h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <h5><strong>Users</strong></h5>
         <% @business.members.each do |member| %>
          <p><%= member.user.email %> - <span class="badge bg-primary"> <%= member.roles.capitalize %></span></p>
         <% end %>

         <% if @business.members.find_by(user_id: current_user.id).try(:is_admin?) %>
          <%= link_to "Edit business", edit_business_path(@business), class: "btn btn-success" %>
          <%= link_to "Back", businesses_path, class: "btn btn-secondary" %>
          <%= link_to "Delete", @business, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure! #{@business.name} will be deleted"} %>
          <% else %>
          <%= link_to "Back", businesses_path, class: "btn btn-secondary" %>
         <% end %>
         
      </div>
    </div>
  </div>
</div>
